@model System.Linq.IQueryable<AirUberProjeto.Models.Cliente>

@{
    ViewBag.Title = "Clientes";
}

<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Clientes</h4>

                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">

                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => (model.Take(1) as Cliente).Nome)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => (model.Take(1) as Cliente).Contacto)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => (model.Take(1) as Cliente).Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => (model.Take(1) as Cliente).ContaDeCreditos.JetCashActual)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => (model.Take(1) as Cliente).ListaReservas)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => (model.Take(1) as Cliente).DataCriacao)
                                    </th>
                                    <th></th>
                                </tr>

                            </thead>
                            <tbody>


                                @foreach (var item in Model)
            {
                if (item is Cliente)
                {
                    string nomeCompleto = item.Nome + " " + item.Apelido;
                                        <tr>
                                            <td>
                                                @nomeCompleto
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => (item.Contacto))
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => (item.Email))
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => (item.ContaDeCreditos.JetCashActual))
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => (item.ListaReservas.Count))
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => (item.DataCriacao))
                                            </td>
                                            <td>

                                                <form asp-controller="Autenticacao" asp-action="ConfirmReset" method="get">

                                                    <input  type="hidden" name="email" value="@Html.DisplayFor(modelItem => (item.Email))" />
                                                    <input  class="btn-link" type="submit" value="Reset Password" />
                                                    
                                                </form>
                                            </td>
                                        </tr>

                                    }
                                }

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
