@model System.Linq.IQueryable<AirUberProjeto.Models.Cliente>

@{
    ViewBag.Title = "Clientes";
    Layout = "_LayoutHelpdesk";
}

<h2>@ViewBag.Title</h2>


<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => (model.Take(1) as Cliente).Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => (model.Take(1) as Cliente).Contacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => (model.Take(1) as Cliente).Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => (model.Take(1) as Cliente).JetCashAtual)
            </th>
            <th>
                @Html.DisplayNameFor(model => (model.Take(1) as Cliente).ListaReservas)
            </th>
            <th>
                @Html.DisplayNameFor(model => (model.Take(1) as Cliente).DataCriacao)
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            if (item is Cliente)
            {
                string nomeCompleto = item.Nome + " " + item.Apelido;
                <tr>
                    <td>
                        @nomeCompleto   
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => (item.Contacto))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => (item.Email))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => (item.JetCashAtual))
                    </td>
                    <td>
                        <a asp-action="ModalViagens" asp-route-email="@item.Email" asp-route-count="@item.ListaReservas.Count">@Html.DisplayFor(modelItem => (item.ListaReservas.Count))</a>
                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => (item.DataCriacao))
                    </td>
                    <td>
                        
                        <form asp-controller="Autenticacao" asp-action="ConfirmReset" method="get">

                            <input type="hidden" name="email" value="@Html.DisplayFor(modelItem => (item.Email))"/>
                            <input type="submit" value="Reset Password"/>
                        </form>
                    </td>
                </tr>

            }
        }

    </tbody>

</table>