@model System.Linq.IQueryable<AirUberProjeto.Models.Companhia>

@{
    ViewBag.Title_Requests = "Pedidos";
    ViewBag.Title = "Companhias";

}

<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Companhias</h4>

                    </div>
                    <div class="content table-responsive table-full-width">

                        <table class="table table-hover table-striped">

                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => (model.Take(1) as Companhia).Nome)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => (model.Take(1) as Companhia).Contact)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => (model.Take(1) as Companhia).Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => (model.Take(1) as Companhia).Pais)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => (model.Take(1) as Companhia).Nif)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => (model.Take(1) as Companhia).ListaReservas)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => (model.Take(1) as Companhia).ContaDeCreditos.JetCashActual)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => (model.Take(1) as Companhia).DataCriacao)
                                    </th>
                                </tr>

                            </thead>
                            <tbody>

                                @foreach (var companhia in ViewBag.CompanhiasAceites)
                                {
                                    <tr>
                                        <td>@companhia.Nome</td>
                                        <td>@companhia.Contact</td>
                                        <td>@companhia.Email</td>
                                        <td>@companhia.Pais.Nome</td>
                                        <td>@companhia.Nif</td>
                                        <td>@companhia.ListaReservas.Count</td>
                                        <td>@companhia.ContaDeCreditos.JetCashActual</td>
                                        <td>@companhia.DataCriacao</td>
                                    </tr>
                                }


                            </tbody>

                        </table>
                        
                        <div class="header">
                            <h4 class="title">Companhias por validar</h4>

                        </div>
                        <table class="table table-hover table-striped">

                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => (model.Take(1) as Companhia).Nif)</th>
                                    <th>@Html.DisplayNameFor(model => (model.Take(1) as Companhia).Pais)</th>
                                    <th>@Html.DisplayNameFor(model => (model.Take(1) as Companhia).ListaJatos)</th>
                                    <th>@Html.DisplayNameFor(model => (model.Take(1) as Companhia).ListaColaboradores)</th>
                                    <th>@Html.DisplayNameFor(model => (model.Take(1) as Companhia).Morada)</th>
                                    <th>@Html.DisplayNameFor(model => (model.Take(1) as Companhia).Contact)</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                           
                                @foreach (var companhia in ViewBag.CompanhiasPendentes)
                                {
                                    <tr>
                                        <td>@companhia.Nif</td>
                                        <td>@companhia.Pais</td>
                                        <td>@companhia.ListaJatos.Count</td>
                                        <td>@companhia.ListaColaboradores.Count</td>
                                        <td>@companhia.Morada</td>
                                        <td>@companhia.Contact</td>
                                        <td>
                                            <a class="link" asp-action="AlterarEstadoCompanhia" asp-route-id="@companhia.CompanhiaId" asp-route-estadoActualId="0" asp-route-estadoDestinoId="1">Aceitar</a>
                                            <a class="link" asp-action="AlterarEstadoCompanhia" asp-route-id="@companhia.CompanhiaId" asp-route-estadoActualId="0" asp-route-estadoDestinoId="3">Recusar</a>
                                        </td>
                                    </tr>
                                }
                                    
                            </tbody>
                        </table>
                        
                        
                        


                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

