@model System.Linq.IQueryable<AirUberProjeto.Models.Companhia>

@{
    ViewBag.Title_Requests = "Pedidos"; //se existrem companhias pendentes é este valor se não é ""
    ViewBag.Title = "Companhias";
    Layout = "_LayoutHelpdesk";
}
<h2>@ViewBag.Title_Requests</h2>

<h2>@ViewBag.Title</h2>

<table class="table">

<thead>
<tr>
    <th>
        @Html.DisplayNameFor(model => (model.Take(1) as Companhia).Nome)
    </th> 
    <th>
        @Html.DisplayNameFor(model => (model.Take(1) as Companhia).Contact)
    </th> 
    <th>
        @Html.DisplayNameFor(model => (model.Take(1) as Companhia).Email)
    </th> 
    <th>
        @Html.DisplayNameFor(model => (model.Take(1) as Companhia).Pais)
    </th> 
    <th>
        @Html.DisplayNameFor(model => (model.Take(1) as Companhia).Nif)
    </th> 
    <th>
        Viagens
    </th> 
    <th>
        @Html.DisplayNameFor(model => (model.Take(1) as Companhia).JetCashAtual)
    </th> 
    <th>
        @Html.DisplayNameFor(model => (model.Take(1) as Companhia).DataCriacao)
    </th>
</tr>

</thead>
    <tbody>
    
        
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.Pais.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nif)
                </td>
                <td>
                    Viagens
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JetCashAtual)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.DataCriacao)
                </td>
            </tr>
        }

    </tbody>

</table>

