@model dynamic

@{
    ViewBag.Title = "Helpdesk";
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Companhia</h4>
                        <p class="category">Últimos números</p>
                    </div>
                    <div class="content">
                        <div id="chartCompanhia" class="ct-chart ct-perfect-fourth">

                        </div>
                        <div class="footer">
                            <div class="legend">
                                <i class="fa fa-circle text-info"></i> Aceites
                                <i class="fa fa-circle text-danger"></i> Pendentes
                                <i class="fa fa-circle text-warning"></i> Rejeitadas
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i> A informação está atualizada
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Cliente</h4>
                            <p class="category">Últimos números</p>
                        </div>
                        <div class="content">
                            <div id="chartCliente" class="ct-chart ct-perfect-fourth">

                            </div>
                            <div class="footer">
                                <div class="legend">
                                    <i class="fa fa-circle text-info"></i> Registados
                                    <i class="fa fa-circle text-danger"></i> Registados Hoje
                                </div>
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-clock-o"></i> A informação está atualizada
                                </div>
                            </div>
                        </div>
                    </div>
               
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    
    $(document).ready(function() {
        (function() {
            var data = {
                labels: ['Companhias', 'Comp. aceites', 'Comp. rejeitadas'],
                series: [
                    {
                        data: [
                            @(ViewBag.NumeroCompanhiasAceites + ViewBag.NumeroCompanhiasPendentes),
                            @ViewBag.NumeroCompanhiasAceites, @ViewBag.NumeroCompanhiasPendentes
                        ]
                    }
                ]
            };
            var options = {
        
            };

            var responsiveOptions = [
                [
                    'screen and (min-width: 641px) and (max-width: 1024px)', {
                        showPoint: false,
                        axisX: {
                            labelInterpolationFnc: function(value) {
                                switch (value) {
                                case 0:
                                    return 'Companhias';
                                case 1:
                                    return 'Comp. aceites';
                                case 2:
                                    return 'Comp. rejeitadas';
                                }
                            }
                        }
                    }
                ],
                [
                    'screen and (max-width: 640px)', {
                        showLine: false,
                        axisX: {
                            labelInterpolationFnc: function(value) {
                                switch (value) {
                                case 0:
                                    return 'Companhias';
                                case 1:
                                    return 'Comp. aceites';
                                case 2:
                                    return 'Comp. rejeitadas';
                                }
                            }
                        }
                    }
                ]
            ];

            new Chartist.Bar('#chartCompanhia', data, options, responsiveOptions).on('draw',
                function(data) {
                    if (data.type === 'bar') {

                        switch (data.index) {
                        case 0:
                            data.element.attr({
                                style: 'stroke-width: 30px;stroke: #1DC7EA;'

                            });
                            break;
                        case 1:
                            data.element.attr({
                                style: 'stroke-width: 30px;stroke: #FF4A55;'

                            });
                            break;
                        case 2:
                            data.element.attr({
                                style: 'stroke-width: 30px;stroke: #FF9500;'

                            });
                            break;
                        }


                    }
                });
        })();


        (function() {
            var data = {
                labels: ['Cliente', 'Clientes Registados Hoje'],
                series: [
                    {
                        data: [
                            @ViewBag.NumeroTotalClientes,
                            @ViewBag.NumeroClientesRegistadosHoje,
                        ]
                    }
                ]
            };
            var options = {
        
            };

            var responsiveOptions = [
                
            ];

            new Chartist.Bar('#chartCliente', data, options, responsiveOptions).on('draw',
                function(data) {
                    if (data.type === 'bar') {

                        switch (data.index) {
                            case 0:
                                data.element.attr({
                                    style: 'stroke-width: 30px;stroke: #1DC7EA;'

                                });
                                break;
                            case 1:
                                data.element.attr({
                                    style: 'stroke-width: 30px;stroke: #FF4A55;'

                                });
                                break;
                            
                        }


                    }
                });
        })();





    });
</script>
