@model System.Linq.IQueryable<AirUberProjeto.Models.Companhia>

@{
    ViewBag.Title_Requests = "Companhias Recusadas";
    ViewBag.Title = "Companhias";


}

<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Recuperar Companhias</h4>

                    </div>
                    <div class="content table-responsive table-full-width">

                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => (model.Take(1) as Companhia).Nome)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => (model.Take(1) as Companhia).Contact)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => (model.Take(1) as Companhia).Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => (model.Take(1) as Companhia).Pais)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => (model.Take(1) as Companhia).Nif)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => (model.Take(1) as Companhia).DataCriacao)
                                    </th>
                                </tr>

                            </thead>
                            <tbody>

                                @foreach (var companhia in ViewBag.CompanhiasRecusadas)
                                {
                                    <tr>
                                        <td>@companhia.Nome</td>
                                        <td>@companhia.Contact</td>
                                        <td>@companhia.Email</td>
                                        <td>@companhia.Pais.Nome</td>
                                        <td>@companhia.Nif</td>
                                        <td>@companhia.DataCriacao</td>
                                        <td><a class="link" asp-action="AlterarEstadoCompanhia" asp-route-id="@companhia.CompanhiaId" asp-route-estadoActualId="@companhia.EstadoId" asp-route-estadoDestinoId="1">Aceitar</a></td>
                                        <td><a class="link" asp-action="AlterarEstadoCompanhia" asp-route-id="@companhia.CompanhiaId" asp-route-estadoActualId="@companhia.EstadoId" asp-route-estadoDestinoId="2">Pendente</a></td>
                                    </tr>
                                }


                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



