@model AirUberProjeto.Models.Extra

@{
    ViewData["Title"] = "Apagar Extra";
    Layout = "_NovoLayout";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Apagar Extra</h4>
                        <p class="category">Tem a certeza que quer eliminar o Extra</p>
                    </div>

                    <div class="content">

                        <div>

                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Nome)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Nome)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Valor)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Valor)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Companhia)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Companhia.Nome)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.TipoExtra)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.TipoExtra.Nome)
                                </dd>
                            </dl>
                            <form asp-controller="Companhia" asp-action="ApagarExtra" method="post" class="form-vertical">
                                <input type="hidden" asp-for="ExtraId" />
                                <div class="form-actions no-color">
                                    <input type="submit" style="margin-right: 6px;" value="Apagar" class="btn btn-default" /> 
                                    <a class="btn" asp-action="VerExtras">Ver Extras</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
