@model AirUberProjeto.Models.Jato

@{
    ViewData["Title"] = "Apagar Jato";
    Layout = "_NovoLayout";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Apagar Jato</h4>
                        <p class="category">Tem a certeza que quer eliminar o Jato</p>
                    </div>

                    <div class="content">

                        <div>

                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.JatoId)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.JatoId)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Nome)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Nome)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Modelo.TipoJato.Nome)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Modelo.TipoJato.Nome)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Companhia.Nome)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Companhia.Nome)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.EmFuncionamento)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.EmFuncionamento)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Aeroporto)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Aeroporto.Nome)
                                </dd>
                            </dl>
                            <form asp-controller="Companhia" asp-action="ApagarJato" method="post" class="form-vertical">
                                <input type="hidden" asp-for="JatoId" />
                                <div class="form-actions no-color">
                                    <input type="submit" style="margin-right: 6px;" value="Apagar" class="btn btn-default" />
                                    <a class="btn" asp-action="VerJatos">Ver Jatos</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

