@model AirUberProjeto.Models.Colaborador

@{
    ViewData["Title"] = "Apagar Colaborador";
    Layout = "_NovoLayout";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Apagar colaborador</h4>
                        <p class="category">Tem a certeza que quer eliminar o colaborador</p>
                    </div>

                    <div class="content">
                        
                        <div>
                           
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Nome)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Nome)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Apelido)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Apelido)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Companhia.Nome)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Companhia.Nome)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.IsAdministrador)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.IsAdministrador)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.DataCriacao)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.DataCriacao)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Email)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Email)
                                </dd>
                            </dl>
                            <form asp-controller="Companhia" asp-action="ApagarColaborador" method="post" class="form-vertical">
                                <input type="hidden" asp-for="Id" />
                                <div class="form-actions no-color">
                                    <input type="submit" style="margin-right: 6px;" value="Apagar" class="btn btn-default" /> 
                                    <a class="btn" asp-action="VerColaboradores">Ver Colaboradores</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>