@model AirUberProjeto.Models.CompanhiaViewModels.PerfilCompanhiaViewModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewBag.Title = "Perfil Companhia";
 
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Editar perfil</h4>
                    </div>
                    <div class="content">
                        <form asp-controller="Companhia" asp-action="EditarPerfilCompanhia" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.Companhia.Nome" class="control-label"></label>
                                        <div>
                                            <input asp-for="@Model.Companhia.Nome" class="form-control" />
                                            <span asp-validation-for="@Model.Companhia.Nome" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.Companhia.Morada" class="control-label"></label>
                                        <div>
                                            <input asp-for="@Model.Companhia.Morada" class="form-control" />
                                            <span asp-validation-for="@Model.Companhia.Morada" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="@Model.Companhia.Descricao" class="control-label"></label>
                                        <div>
                                            <input asp-for="@Model.Companhia.Descricao" class="form-control" />
                                            <span asp-validation-for="@Model.Companhia.Descricao" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Atualizar Perfil</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..." />
                    </div>
                    <div class="content">
                        <div class="author">

                            <img class="avatar border-gray" src="..\@Model.Companhia.RelativePathImagemPerfil" alt="..." />
                            <h4 class="title">
                                @Model.Colaborador.Nome <br />
                                <small>Companhia</small>
                            </h4>

                        </div>
                        <p class="description text-center">
                            <label>Role</label>
                            @Html.Raw(Model.Colaborador.IsAdministrador ? "Administrador" : "Colaborador") <br />

                            <label>Correio-Eletrónico</label>
                            @Model.Colaborador.Email<br />

                            <label>Estado da conta</label>
                            @Html.Raw(Model.Colaborador.EmailConfirmed ?
                        "<span class=\"label label-success\">Confirmada</span>" :
                        "<span class=\"label label-warning\" data-placement=\"top\" data-toggle=\"tooltip\" title=\"Um e-mail foi enviado para a sua conta de utilizador. Verifique a sua caixa de correio-eletrónico\">Por confirmar</span>")
                            <br />

                        </p>
                    </div>
                    <hr>

                </div>
            </div>
        </div>
    </div>
</div>