@model IEnumerable<AirUberProjeto.Models.Colaborador>

@{
    ViewData["Title"] = "VerColaboradores";
}

<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Colaboradores</h4>

                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Nome)</th>
                                <th>@Html.DisplayNameFor(model => model.IsAdministrador)</th>
                                <th>@Html.DisplayNameFor(model => model.Email)</th>
                                <th>@Html.DisplayNameFor(model => model.DataCriacao)</th>
                                <th>@Html.DisplayNameFor(model => model.Ativo)</th>
                                <th>Ações</th>
                            </tr>
                            </thead>
                            <tbody>

                            @foreach (Colaborador colaborador in Model)
                            {
                                <tr>
                                    <td>@colaborador.Nome</td>
                                    <td>@(colaborador.IsAdministrador ? "Sim" : "Não")</td>
                                    <td>@colaborador.Email</td>
                                    <td>@colaborador.DataCriacao</td>
                                    <td>@(colaborador.Ativo ? "Sim" : "Não")</td>
                                    <td>
                                        <a class="link" asp-action="EditarColaborador" asp-route-id="@colaborador.Id">Editar</a><br />
                                        <a class="link" asp-action="ApagarColaborador" asp-route-id="@colaborador.Id">Apagar</a>
                                    </td>
                                </tr>

                            }

                            </tbody>
                        </table>
                        <div class="content">
                            <a class="btn" asp-action="AdicionarColaborador">Adicionar</a>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>


