@model IEnumerable<AirUberProjeto.Models.Colaborador>

@{
    ViewData["Title"] = "VerColaboradores";
}


<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6">
            <a asp-action="AdicionarColaborador"><img class="img-thumbnail" src="~/images/plus.png" width="40" alt="criar"></a>
            <!--
                <div >
                    <form asp-controller="Companhia" asp-action="ProcurarExtras">
                        <!-- search -->
            <!--
                    <input type=image src="~/images/aviao-default.svg" width="40" alt="Submit feedback">
                    <input type="text" name="SearchString">
                </form>
            </div>-->
        </div>
        <div class="col-md-6">
            <h1>Colaboradores</h1>
        </div>
    </div>
    <div class="w3-center w3-row-padding">
        @foreach (var item in Model)
        {
            <div class="w3-col l4 w3">
                <div class="w3-col l12 w3-card-4 w3-margin w3-container" style="height: 320px">
                    <div style="float: right">
                        <!-- Adicionar aqui outro item, que faz o que?-->
                        <a asp-action="EditarColaborador" asp-route-id="@item.Id"><img class="img-thumbnail" src="~/images/edit.png" width="40" alt="editar"></a>
                        <a asp-action="ApagarColaborador" asp-route-id="@item.Id"><img class="img-thumbnail" src="~/images/delete.png" width="40" alt="apagar"></a>
                    </div>
                    <div style="clear: both; display">
                        <div>
                            <img src="..\@item.Companhia.RelativePathImagemPerfil" width="100" alt="airplane photo" />
                        </div>
                        <div>
                            <h2 style="display: inline; padding-left: 15px; " class="w3-center"><strong>@item.Nome @item.Apelido</strong></h2>
                        </div>
                        <br />
                        <div style="text-align:left">
                            <h5><strong>Administrador: </strong><span>>@(item.IsAdministrador ? "Sim" : "Não")</span></h5>
                            <h5><strong>Email: </strong><span>@item.Email</span></h5>
                            <h5><strong>Operacional: </strong><span>@(item.Ativo ? "Sim" : "Não")</span></h5>
                            <h5><strong>Data Registo: </strong><span>@item.DataCriacao</span></h5>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>