@model IEnumerable<AirUberProjeto.Models.Extra>

@{
    ViewData["Title"] = "VerExtras";
}


<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Extras</h4>

                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.ExtraId)</th>
                                    <th>@Html.DisplayNameFor(model => model.Nome)</th>
                                    <th>@Html.DisplayNameFor(model => model.TipoExtra.Nome)</th>
                                    <th>@Html.DisplayNameFor(model => model.Valor)</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (Extra extra in Model)
                                {
                                    <tr>
                                        <td>@extra.ExtraId</td>
                                        <td>@extra.Nome</td>
                                        <td>@extra.TipoExtra.Nome</td>
                                        <td>@extra.Valor</td>
                                        <td>
                                            <a class="link" asp-action="EditarExtra" asp-route-id="@extra.ExtraId">Editar</a><br />
                                            <a class="link" asp-action="ApagarExtra" asp-route-id="@extra.ExtraId">Apagar</a>
                                        </td>
                                    </tr>

                                }

                            </tbody>
                        </table>
                        <div class="content">
                            <a class="btn" asp-action="CriarExtra">Adicionar</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

