@model IEnumerable<AirUberProjeto.Models.Jato>

@{
    ViewData["Title"] = "VerJatos";
}
<script src="~/js/Moment.js"></script>
<link type="text/css" rel="stylesheet" href="~/css/fullcalendar.css" />
<script src="~/js/fullcalendar.js"></script>

<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6">
            <a asp-action="CriarJato"><img class="img-thumbnail" src="~/images/plus.png" width="40" alt="criar"></a>
            <p style="padding: 10px; color:blue">
                <a asp-action="VerModelos">Ver Modelos</a>
            </p>
            <!--
                <div >
                    <form asp-controller="Companhia" asp-action="ProcurarExtras">
                        <!-- search -->
            <!--
                    <input type=image src="~/images/aviao-default.svg" width="40" alt="Submit feedback">
                    <input type="text" name="SearchString">
                </form>
            </div>-->
        </div>
        <div class="col-md-6">
            <h1>Jatos</h1>
        </div>
    </div>
    <div class="w3-center w3-row-padding">
        @foreach (var item in Model)
        {
            <div class="w3-col l4 w3">
                <div class="w3-col l12 w3-card-4 w3-margin w3-container" style="height: 270px">
                    <div style="float: right; padding: 10px;">
                        <a asp-action="EditarJatos" asp-route-id="@item.JatoId"><img class="img-thumbnail" src="~/images/edit.png" width="40" alt="editar"></a>
                        <a asp-action="ApagarJato" asp-route-id="@item.JatoId"><img class="img-thumbnail" src="~/images/delete.png" width="40" alt="apagar"></a>
                    </div>
                    <div style="clear: both;">
                        <img src="..\@item.RelativePathImagemPerfil" width="100" alt="airplane photo"/>
                        <h2 style="display: inline; padding-left: 15px; " class="w3-center">@item.Nome</h2>
                        <a onClick="mostrarDisp(@item.JatoId)"><img class="img-thumbnail" src="~/images/calendar.png" alt="calendar"></a>
                        <!--<a onClick="mostrarDisp(@item.JatoId)">Disponibilidade</a>-->

                        <div style="text-align:left">
                            <h5><strong>Tipo de avião: </strong><span>@item.Modelo.TipoJato.Nome</span></h5>
                            <h5><strong>Posição actual: </strong><span>@item.Aeroporto.Nome</span></h5>
                            <h5><strong>Operacional: </strong><span>@(item.EmFuncionamento ? "Sim" : "Não")</span></h5>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



<script>
    var JATO_ATUAL = {id:0};
    $(document).ready(function () {



        /* initialize the calendar
        -----------------------------------------------------------------*/
        $('#dispoibilidade').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable:true,
            allDaySlot: false,
            droppable: true,
            scrollTime: "08:00:00",
            slotDuration: '00:30:00',
            axisFormat: 'H:mm:ss',
            timeFormat: {
                agenda: 'H:mm:ss',
                month: 'H:mm:ss'
            },
            slotEventOverlap: false,
            monthNames: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Octubro", "Novembro", "Dezembro"],
            monthNamesShort: ['Jan', 'Feb', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dez'],
            dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado'],
            dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
            buttonText: {
                today: 'Hoje',
                month: 'Mes',
                week: 'Semana',
                day: 'Dia'
            },
            dayClick: function (date, jsEvent, view) {
                if ($("#dispoibilidade").fullCalendar('getView').name == "month") {
                    $("#dispoibilidade").fullCalendar('changeView', 'agendaWeek');
                    $("#dispoibilidade").fullCalendar('gotoDate', date);
                } else {

                        var start = date;
                        var a = start.clone();
                        a.add(2, 'hour');

                            if (view.name == 'agendaWeek') {

                                var title = 'Disponível';

                                var start = date.format('YYYY-MM-DD H:mm:ss');;
                                var a = moment(date.format()).add(1, 'hour');

                                $('#calendar').fullCalendar('renderEvent', {
                                    title: title,
                                    start: start,
                                    end: a.format('YYYY-MM-DD H:mm:ss'),
                                    allDay: false
                                }, true);
                                console.log(JATO_ATUAL.id);
                                $.ajax({
                                    url: '/Companhia/AdicionarDisponibilidade',
                                    data: 'IdJato=' + JATO_ATUAL.id + '&Inicio=' + start + '&Fim=' + a.format('YYYY-MM-DD H:mm:ss'),
                                    type: 'POST',
                                    dataType: 'json',
                                    success: function(response) {
                                        console.log(response);
                                        reload(JATO_ATUAL.id);
                                    },
                                    error: function(e) {
                                        console.log(e.responseText);
                                        reload(JATO_ATUAL.id);
                                    }
                                });

                            }

                }
            },
            eventDrop: function(event, delta, revertFunc) {

                $.ajax({
                    url: '/Companhia/EditarDisponibilidade',
                    data: 'Inicio=' + event.start.format('YYYY-MM-DD H:mm:ss') + '&Fim=' + event.end.format('YYYY-MM-DD H:mm:ss') + '&idDisp=' + event.idDisp + "&jatoId=" + JATO_ATUAL.id,
                    type: 'POST',
                    dataType: 'json',
                    success: function (response) {
                        console.log('ok');
                        reload(JATO_ATUAL.id);
                    },
                    error: function (e) {
                        console.log(e.responseText);
                    }
                });

            },
            eventResize: function (event, delta, revertFunc) {

                $.ajax({
                    url: '/Companhia/EditarDisponibilidade',
                    data: 'Inicio=' + event.start.format('YYYY-MM-DD H:mm:ss') + '&Fim=' + event.end.format('YYYY-MM-DD H:mm:ss') + '&idDisp=' + event.idDisp + "&jatoId=" + JATO_ATUAL.id,
                    type: 'POST',
                    dataType: 'json',
                    success: function (response) {
                        console.log('ok');
                        reload(JATO_ATUAL.id);
                    },
                    error: function (e) {
                        console.log(e.responseText);
                    }
                });

            },
            eventClick: function (event, jsEvent, view) {
                console.log(event);
                $.ajax({
                    url: '/Companhia/ApagarDisponibilidade',
                    data: 'idDisp=' + event.idDisp + '&idJato=' + JATO_ATUAL.id,
                    type: 'POST',
                    dataType: 'json',
                    success: function (response) {
                        console.log(response);
                        reload(JATO_ATUAL.id);
                    },
                    error: function (e) {
                        console.log(e.responseText);
                    }
                });

            }
        });

        $('#disp').on('shown.bs.modal', function oi() {
            console.log('done');
            $("#dispoibilidade").fullCalendar('render');
            $("#dispoibilidade").fullCalendar('refetchEvents');
            $("#dispoibilidade").fullCalendar('changeView', 'month');
            $("#dispoibilidade").fullCalendar('today');
            });
    });
    function mostrarDisp(id) {

        JATO_ATUAL.id = id;
        $("#dispoibilidade").fullCalendar('removeEvents');
        var freshevents;
        $.ajax({
            url: '/Companhia/VerDisponibilidade',
            type: 'GET', // Send post data
            data: 'jatoId=' + id,
            async: false,
            success: function (s) {
                console.log(s+"dsads");
                freshevents = s;
                $('#dispoibilidade').fullCalendar('addEventSource', JSON.parse(freshevents));
                $('#disp').modal('show');
                console.log(id);
            }
        });


    }

    function reload(id) {

        JATO_ATUAL.id = id;
        $("#dispoibilidade").fullCalendar('removeEvents');
        var freshevents;
        $.ajax({
            url: '/Companhia/VerDisponibilidade',
            type: 'GET', // Send post data
            data: 'jatoId=' + id,
            async: false,
            success: function (s) {

                freshevents = s;
                $('#dispoibilidade').fullCalendar('addEventSource', JSON.parse(freshevents));

            }
        });


    }



</script>


<div id="disp" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-body row" style="background: white;">

            <div id="dispoibilidade"></div>
        </div>
    </div>
</div>